<%= form_for(@fset) do |f| %>
  <% if @fset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fset.errors.count, "error") %> prohibited this fset from being saved:</h2>

      <ul>
      <% @fset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reps %><br>
    <%= f.number_field :reps %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
