<p id="notice"><%= notice %></p>

<p>
  <strong>Reps:</strong>
  <%= @fset.reps %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @fset.duration %>
</p>

<%= link_to 'Edit', edit_fset_path(@fset) %> |
<%= link_to 'Back', fsets_path %>
